html,
body {
  color-scheme: dark;
  padding: 0;
  margin: 0;
  font-family: "Fira Mono", monospace;
  color: #d2d0d0;
  /* background-color: #212435; */
  background-color: #25293c;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

code {
  white-space: pre-wrap; /* css-3 */
  white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
  white-space: -pre-wrap; /* Opera 4-6 */
  white-space: -o-pre-wrap; /* Opera 7 */
  word-wrap: break-word; /* Internet Explorer 5.5+ */
  overflow-y: auto;
  display: block;
}

button {
  background-color: #050506;
  color: #a7a7a7;
  border: 1px solid #9d9d9d;
  border-radius: 0px;
  padding: 0.2rem;
  font-size: 0.6rem;
  font-family: "Fira Mono", monospace;
  white-space: pre;
  cursor: pointer;
}

button:disabled {
  background-color: #1a1d2a;
  color: #9d9d9d;
  border: 1px solid #9d9d9d;
  cursor: auto;
}
