.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 15;
}

.modalContent {
  border: 1px dotted white;
  background-color: #0f0f0f;
  padding: 1rem;
  border-radius: 0.5rem;
  max-width: 80vw;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 20;
}

.modalHeader {
  font-size: large;
  display: flex;
  flex-direction: column;
}

.modalHeader h2 {
  align-self: center;
}

.modalHeader .closeButton {
  align-self: flex-end;
}

.modalBody {
  margin: 1rem 0;
}
