/* grid */

.grid {
  position: relative;
  border: 1px solid #2d3147;
}

/* row */

.row {
  display: flex;
}

/* cell */

.cell {
  background-color: rgba(255, 255, 255, 0);
  font-size: xx-small;
  cursor: pointer;
  position: relative;
  transition: filter 200ms ease-in;
  border: 1px solid #2d3147;
}

.cell.clicked {
  background-color: #1a1d2a;
  filter: brightness(2);
}

.cellContents {
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;

  height: 100%;
  width: 100%;
}

/* player */

.player {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
  /* filter: brightness(1.4); */
}
